parameters:
	ignoreErrors:
		-
			message: '#^Cannot access property \$updated_at on class\-string\|object\.$#'
			identifier: property.nonObject
			count: 2
			path: src/Commands/BuildCommand.php

		-
			message: '#^Cannot call method getKey\(\) on class\-string\|object\.$#'
			identifier: method.nonObject
			count: 2
			path: src/Commands/BuildCommand.php

		-
			message: '#^Match expression does not handle remaining value\: string$#'
			identifier: match.unhandled
			count: 1
			path: src/Commands/CheckSetupCommand.php

		-
			message: '#^Parameter \#1 \$view of function view expects view\-string\|null, string given\.$#'
			identifier: argument.type
			count: 1
			path: src/Http/Controllers/AmazeeSettingsController.php

		-
			message: '#^Offset ''exception'' on array\{ok\: false, data\?\: mixed, status\?\: int, error\?\: string\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Http/Controllers/ExpandQueryController.php

		-
			message: '#^Offset ''exception'' on array\{ok\: false, data\?\: mixed, status\?\: int, error\?\: string\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Http/Controllers/FollowUpController.php

		-
			message: '#^Offset ''limit'' on array\{ok\: false, data\?\: mixed, status\?\: int, error\?\: string\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Http/Controllers/FollowUpController.php

		-
			message: '#^Offset ''exception'' on array\{ok\: false, data\?\: mixed, status\?\: int, error\?\: string\} in isset\(\) does not exist\.$#'
			identifier: isset.offset
			count: 1
			path: src/Http/Controllers/SummarizeController.php

		-
			message: '#^Cannot access property \$updated_at on class\-string\|object\.$#'
			identifier: property.nonObject
			count: 1
			path: src/Jobs/TriggerRebuild.php

		-
			message: '#^Cannot call method getKey\(\) on class\-string\|object\.$#'
			identifier: method.nonObject
			count: 1
			path: src/Jobs/TriggerRebuild.php

		-
			message: '#^Method Tag1\\ScoltaLaravel\\Models\\ScoltaTracker\:\:getPending\(\) should return Illuminate\\Database\\Eloquent\\Collection\<int, static\(Tag1\\ScoltaLaravel\\Models\\ScoltaTracker\)\> but returns Illuminate\\Database\\Eloquent\\Collection\<int, Tag1\\ScoltaLaravel\\Models\\ScoltaTracker\>\.$#'
			identifier: return.type
			count: 1
			path: src/Models/ScoltaTracker.php

		-
			message: '#^Trait Tag1\\ScoltaLaravel\\Searchable is used zero times and is not analysed\.$#'
			identifier: trait.unused
			count: 1
			path: src/Searchable.php
